
html,body{
    height:100vh;
    width:100vw;
    background:url('img/pexels.jpeg');
    background-size: cover;
    background-position: 0% 9% ;
    background-repeat: no-repeat;
}
*{
    font-family: berlin sans FB;
    margin: 0;
    padding: 0;
}
.title{
    color: #d4af37
}

.icons{
    background: #d4af37;
}

.design{
    color:white;
}
.design:hover{
    color: #d4af37;
    background-color: none;
}